In [8]:
import pandas as pd
df=pd.read_csv('C:\\Users\\kunal\\OneDrive\\CODE FOR LIFE\\Python projects\\Python Libraries\\Untitled Folder\\tips.csv')#csv_file-> comma seperated file

def simple(num):
    return num*2

In [9]:
simple(122)

244

In [10]:
lambda num: num*2
simple(122)

244

In [11]:
df['total_bill'].apply(simple)

0      33.98
1      20.68
2      42.02
3      47.36
4      49.18
       ...
239    58.06
240    54.36
241    45.34
242    35.64
243    37.56
Name: total_bill, Length: 244, dtype: float64

In [12]:
df['total_bill'].apply(lambda num: num*2)

0      33.98
1      20.68
2      42.02
3      47.36
4      49.18
       ...
239    58.06
240    54.36
241    45.34
242    35.64
243    37.56
Name: total_bill, Length: 244, dtype: float64

In [13]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251

In [18]:
def quality(total_bill,tip):
    if tip/total_bill>0.25:
        return "Generous"
    else:
        return "Other"
quality(16.99,1.01)

'Other'

In [23]:
df['quality']=df[['total_bill','tip']].apply(lambda df: quality(df['total_bill'],df['tip']),axis=1)

In [24]:
df['quality'].head()

0    Other
1    Other
2    Other
3    Other
4    Other
Name: quality, dtype: object