In [1]:
import pandas as pd
import numpy as np

In [10]:
df = pd.DataFrame(np.arange(0, 25).reshape(5, 5), index=['Row1', 'Row2', 'Row3', 'Row4', 'Row5'], columns=['col1', 'col2', 'col3', 'col4', 'col5'])

In [11]:
df

      col1  col2  col3  col4  col5
Row1     0     1     2     3     4
Row2     5     6     7     8     9
Row3    10    11    12    13    14
Row4    15    16    17    18    19
Row5    20    21    22    23    24

In [12]:
df.head()

      col1  col2  col3  col4  col5
Row1     0     1     2     3     4
Row2     5     6     7     8     9
Row3    10    11    12    13    14
Row4    15    16    17    18    19
Row5    20    21    22    23    24

In [13]:
df.to_csv('test1.csv')

In [14]:
df.loc['Row1']

col1    0
col2    1
col3    2
col4    3
col5    4
Name: Row1, dtype: int32

In [16]:
df.loc['Row2']['col2']

6

In [20]:
type(df.loc[['Row1','Row2']])

pandas.core.frame.DataFrame

In [21]:
df.loc[['Row1','Row2']]

      col1  col2  col3  col4  col5
Row1     0     1     2     3     4
Row2     5     6     7     8     9

In [22]:
df.iloc[0:2,0:2]

      col1  col2
Row1     0     1
Row2     5     6

In [23]:
type(df.iloc[:,1:])#converting dataframes inton array

pandas.core.frame.DataFrame

In [24]:
type(df.iloc[0:2,0])

pandas.core.series.Series

In [25]:
df.iloc[:,1:].values

array([[ 1,  2,  3,  4],
       [ 6,  7,  8,  9],
       [11, 12, 13, 14],
       [16, 17, 18, 19],
       [21, 22, 23, 24]])

In [28]:
print(df['col2'].value_counts())

col2
1     1
6     1
11    1
16    1
21    1
Name: count, dtype: int64

In [27]:
df.isnull().sum()

col1    0
col2    0
col3    0
col4    0
col5    0
dtype: int64

In [29]:
df['col4'].unique

<bound method Series.unique of Row1     3
Row2     8
Row3    13
Row4    18
Row5    23
Name: col4, dtype: int32>

In [32]:
df['Row1'].unique

KeyError: 'Row1'