In [12]:
num=24
if num%2==0:
    print('The number is even')
else:
    print('The num is odd')

The number is even

In [13]:
def even_odd(num):
    if num%2==0:
        print('The number is even')
    else:
        print('The num is odd')

In [14]:
even_odd(12238838383)

The num is odd

In [15]:
def hello_duniya():
    print("Hloooo duniyaaaa")

In [16]:
val=hello_duniya()

Hloooo duniyaaaa

In [17]:
print(val)

None

In [18]:
def hello_duniya():
    return "Hloooo duniyaaaa"

In [19]:
val=hello_duniya()

In [20]:
val

'Hloooo duniyaaaa'

In [21]:
type(val)

str

In [31]:
def hellow(name,age=22):
    print("My name is {} and age is {}".format(name,age))
#name->positional argument
#age->keyword argument

In [32]:
hellow("kunal")

My name is kunal and age is 22

In [24]:
hellow()

TypeError: hellow() missing 1 required positional argument: 'name'

In [27]:
def hello(*args,**kwargs):
    print(args)
    print(kwargs)

In [30]:
hello("kunal",2222,age=21,exp=100)

('kunal', 2222)
{'age': 21, 'exp': 100}

In [33]:
list=['kunal','deepak','patil', 379]
dict_args={'age':21,'exp':1000,'salary':'1M dollors', 'dob':'22/08/2003' }

In [34]:
hello(*list,**dict_args)

('kunal', 'deepak', 'patil', 379)
{'age': 21, 'exp': 1000, 'salary': '1M dollors', 'dob': '22/08/2003'}

In [36]:
list=[1,2,3,4,5,6,7,8,9,0]

In [37]:
def even_odd_sum(list):
    even_sum=0
    odd_sum=0
    for i in list:
        if i%2==0:
            even_sum=even_sum+i
        else:
            odd_sum=odd_sum+i
    return even_sum, odd_sum

In [38]:
even_odd_sum(list)

(20, 25)